{% extends 'base.html' %}

{% block title %}
About
{% endblock %}

{% block body %}
<p>A student absentee alert system is a technology-based solution that helps to track and notify parents or guardians when their child is absent from college.</p>
<p>When a student is found to be absent, the system generates an alert to notify the designated parent or guardian through SMS. The alert can include details such as 
the name of the absent student, the time and location of the scheduled class or activity, and any other relevant information.</p>
<p>The primary benefit of a student absentee alert system is that it helps parents to stay informed about their child's attendance and helps to ensure their safety and 
wellbeing. This system can also help to improve student attendance by providing parents with timely notifications of their child's absence and allowing them to take 
appropriate action, such as contacting the college to report the absence and arranging for makeup work or tutoring if necessary.
Moreover, this system can help to reduce the workload of college administrators and teachers by automating the attendance tracking process and freeing up their time 
to focus on other important tasks. Additionally, it can also help college to comply with attendance reporting requirements and regulations, which can lead to improved funding and resources for the college.
</p>


{% endblock %}