{% extends 'base.html' %}

{% block title %}
login
{% endblock %}

{% block body %}
{% load static %}
<!DOCTYPE html>
<html>
<head>
  
  <title>Absentees Alert System | Log in</title>
  
 
</head>
<body class="hold-transition login-page">

  <div class="card">
    <div class="card-body login-card-body">
      <p class="login-box-msg">Sign in to Absentees System</p>

      <form action="" method="post">
          {% csrf_token %}
          
        <div class="input-group mb-3">
          <input type="text" class="form-control" placeholder="Username" name="name">
          <div class="input-group-append">
            <div class="input-group-text">
              <span class="fas fa-user"></span>
            </div>
          </div>
        </div>
        <div class="input-group mb-3">
          <input type="password" class="form-control" placeholder="Password" name="password">
          <div class="input-group-append">
            <div class="input-group-text">
              <span class="fas fa-lock"></span>
            </div>
          </div>
        </div>
        <div class="row">
          <!-- /.col -->
          <div class="col-12">
            <button type="submit" class="btn btn-primary btn-block">Sign In</button>
          </div><!-- /.col -->
        </div>
        <div class="row">
          {% if messages %}
         <div class="col-12">
            {% for message in messages %}
            {% if message.tags == 'error' %}
            <div class="alert alert-danger" style="margin-top:10px">{{ message }}</div>
            {% endif %}
            {% endfor %}
          </div>
          {% endif %}
        </div>
      </form>


    </div>
  </div>
</div>


</body>
</html>

            

{% endblock %}



